body{
    background-color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 8px;
    border-color: brown;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color:cyan ;
}