body{
    background-color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
button{
    border-radius: 7px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}